.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  table{
      width:100%;
  }

  mat-form-field{
      width:100%;
  }

  button.add{
    margin-top:1rem;
  }