mat-form-field{
    width:100%;
}

button.add-amenities{
    background: #37da52;
    width: 27px;
    height: 27px;
}
button.amenity{
    background:#64d83e;
}
button.add-amenities mat-icon{
    float: left;
    margin-top: -6px;
    margin-left: 0px;
}
ul{
    list-style: none;
}

.addon{
    background:#5cd829;
}